* {
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-container,
.general-info {
    border: solid rgb(0, 119, 255) 4px;
    background-color: rgb(196, 224, 255);
}

form,
.general-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

form {
    width: fit-content;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input {
    padding: 0 2px;
}

form button {
    align-self: center;
}

.general-info {
    align-items: center;
}

h2,
h3 {
    text-align: center;
}

.date-and-contact {
    display: flex;
    gap: 40px;
}

.date-and-contact div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    padding: 1px 10px;
}